<% if(utilizator != null) { %>
    <div class="welcome_container">
        <p id="welcome_message">Bine ati venit,
            <%- utilizator %>!
        </p>
    </div>
    <div class="buttons_container">
        <form action="/logout" method="post">
            <input class="button" type="submit" value="Log out">
        </form>
        <form action="/creare-bd" method="get">
            <input class="button" type="submit" value="Creare BD">
        </form>
        <form action="/inserare-bd" method="get">
            <input class="button" type="submit" value="Încărcare BD">
        </form>
        <form action="/vizualizare-cos" method="get">
            <input class="button" type="submit" value="Vizualizare coş">
        </form>
    </div>
    <% if(bookDB.length != 0){ %>
        <div class="buttons_container">
            <table class="books_db">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Genre</th>
                    <th>Adaugă</th>
                </tr>
                <% for(var i=0; i<bookDB.length; ++i){ %>
                    <tr>
                        <td>
                            <%- bookDB[i].id %>
                        </td>
                        <td>
                            <%- bookDB[i].name %>
                        </td>
                        <td>
                            <%- bookDB[i].author %>
                        </td>
                        <td>
                            <%- bookDB[i].isbn %>
                        </td>
                        <td>
                            <%- bookDB[i].genre %>
                        </td>
                        <td>
                            <form action="/adaugare-cos" method="post">
                                <input type="hidden" name="id" value="<%- bookDB[i].id %>">
                                <input class="button" type="submit" value="Adăugare în coş">
                            </form>
                        </td>
                    </tr>
                    <% }%>
            </table>
        </div>
        <% } %>
            <% } %>